@model  WebsitePerformance.ModelView.AddModelView
@{
    ViewBag.Title = "Websites performance";
}

<div>
    @using (Html.BeginForm("Add", "Home"))
    {
        <div class="form-group ">
            @Html.Label("Enter the URL")
            <div class="input-group">
                @Html.TextBox("Url", "", new { @class = "form-control" })
                <span class="input-group-btn pull-left">
                    <button class="btn btn-primary" type="submit" >Measure Response Time</button>
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }
</div>

<div id="site-table">
    <table class="table table-bordered" id="results">
        <thead>
        <tr>
            <th>Site Url</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Sites != null)
        {
            foreach (var site in Model.Sites)
            {
                <tr>
                    <td>@site.Url</td>
                    <td>@Html.ActionLink("View results", "ViewResults", new { SiteUrl = site.Url }, new {@class = "btn btn-primary"}) </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<div><h1>Response time for @Model.CurrentSiteUrl</h1></div>

<div id="chartContainer"></div>

<div id="measurement-table">
    <table class="table table-bordered" id="results">
        <thead>
            <tr>
                <th>Page Url</th>
                <th>Max Time</th>
                <th>Min Time</th>
            </tr>
        </thead>
        <tbody>
        @if (Model.PageResponses != null)
        {
            foreach (var page in Model.PageResponses)
             {
                 <tr>
                     <td>@page.Item1</td>
                     <td>@page.Item2 ms</td>
                     <td>@page.Item3 ms</td>
                 </tr>
             }
        }
        </tbody>
    </table>
</div>


@section scripts
{
<script type="text/javascript">

    $(function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            axisY: {
                title: "Time in ms"
            },
            dataPointWidth: 10,
            data: [
            {
                type: "column",
                legendText: "Min response time",

                showInLegend: "true",

                dataPoints: @Html.Raw(Model.MinTime)
            }, {
                type: "column",
                legendText: "Max response time",
                showInLegend: "true",

                dataPoints: @Html.Raw(Model.MaxTime)
            }
            ]
        });
        chart.render();
    });
</script>
}



